*{
    margin: 0%;
    padding: 0%;
}

.fundo{
    background-image: -moz-linear-gradient(45deg, rgb(119, 118, 118), rgb(36, 34, 34));
    height: 100vh;
}

.calculadora{
    position: absolute;
    background-color: black;font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 1px;

}

